*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrap {
    max-width: 1421px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    &_header {
        padding-top: 39px;
        display: flex;
        justify-content: space-between;
        background: #000;
    }
    &_footer {
        display: flex;
        gap: 64px;
    }
}

.logo {
    width: 88px;
    height: 36px;
    &_header {
        margin: auto 0;
    }
    &_invert {
        margin-bottom: 16px;
    }
}

.title {
    margin: 0;
    font-style: normal;
    &_big {
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        color: #FFFFFF;
    }
    &_medium {
        margin: 0;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #161414;
    }
    &_small {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #161414;
    }
    &_destination {
        margin-bottom: 64px;
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    &_globe {
        width: 24px;
        height: 24px;
        background: url('../img/Group.png') no-repeat center left;
    }
    &_arrow {
        width: 20px;
        height: 20px;
        background: url('../img/arrow.png') no-repeat center right;
    }
    &_calendar {
        background: url(../img/tips-calendar.png) no-repeat center;
    }
    &_user {
        background: url(../img/tips-user.png) no-repeat center;
    }
    &_number {
        background: url(../img/tips-coment.png) no-repeat center;
    }
}

.btn {
    border-radius: 12px;
    width: 72px;
    height: 72px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        background-color: #a699e7;
    }

    &_screen {
        background: #7B61FF url(../img/Vector.svg) no-repeat center;
    }

    &_footer {
        background: #7B61FF url(../img/Vectorarrow_white.png) no-repeat center;
    }
}
/* header_block start */
.header {
    position: absolute;
    width: 100%;
}

.nav {
    margin: auto 0;
    &__list {
        list-style-type: none;
        margin: auto 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0 54px;
    }
    &__link {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: #FFFFFF;
        &:hover {
            opacity: 0.5;
        }
    }
}

.user {
    display: flex;
    &__text {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-right: 8px;
        font-style: normal;
        color: #FFFFFF;
        text-transform: capitalize;
    }
    &__word {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        opacity: 0.5;
        text-align: right;
    }
    &__name {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
    }
    &__photo {
        position: relative;
    }
    &__circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #FF0000;
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* header_block end */

/* main_content start */
/*screen start */
.section {
    padding-top: 120px;
    &_screen {
        background: url('../img/header-bg.jpg') no-repeat center / cover;
        padding-bottom: 100px;
        padding-top: 262px;
    }
}
.screen-content {
    text-align: center;
    margin-bottom: 184px;
}

.screen-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px auto 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #7B61FF;
    padding: 24px;
    border-radius: 12px;
    width: fit-content;
    &:hover {
        background-color: #a699e7;
    }
}

.page-form {
    display: flex;
    flex-wrap: wrap;
    &__item {
        padding: 16px 0px 16px 56px;
        &_location {
            background: url(../img/iconlocation.png) no-repeat 16px center;
        }
    
        &_activity {
            background: url(../img/iconactivity.png) no-repeat 16px center;
        }
    
        &_when {
            background: url(../img/iconwhen.png) no-repeat 16px center;
        }
    
        &_guest {
            background: url(../img/iconguests.png) no-repeat 16px center;
        }
        &_email {
            background: url(../img/mail-linemail.png) no-repeat 16px center;
            width: calc(100% - 72px);
        }
    }
    &__label {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #5B5B5B;
        display: block;
    }
    &__input {
        border: none;
        padding: 0;
        width: 100%;
        &:placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #161414;
        }
    }
    &__select {
        background-color: transparent;
        border: none;
        appearance: none;
    }
    &_screen {
        background-color: #FFFFFF;
        padding: 8px;
        border-radius: 12px;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }
    &_footer {
        max-width: 388px;
        width: 100%;
    }
}
/* screen end */

/* Destination start */
.destination-line {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
}

.destination-item {
    &__img {
        margin-bottom: 8px;
    }
    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #161414;
    }
    &__state {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #979797;
    }
}
/* destination end */

/* hotels start */
.title-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.btn-more {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5243C2;
    padding: 10px;
    background-color: #F6F4FF;
    border-radius: 12px;
    width: fit-content;
    &:hover {
        background-color: #79759b;
    }
}

.hotels-line {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.hotels-item {
    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #161414;
        margin-top: 10px;
        margin-bottom: 12px;
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__location {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #979797;
        background: url('../img/map-pin.png') no-repeat center left;
        padding-left: 20px;
    }
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    &__item {
        width: 16px;
        height: 16px;
        background: url('../img/empty.png') no-repeat center;
    }
    &.is-active {
        background: url('../img/orange.png') no-repeat center;
    }
}
/* hotels end */

/* tips start */
.tips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.tips-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 100%;
    max-width: calc(50% - 16px);
    min-width: 672px;
}
/* hotels end */

/* tips start */

.tips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.tips-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 100%;
    max-width: calc(50% - 16px);
    min-width: 672px;
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #161414;
        margin-top: 0;
        margin-bottom: 16px;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #5B5B5B;
        margin-bottom: 108px;
    }
}
.tips-info {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item {
        display: flex;
        gap: 4px;
        align-items: center;
    }
    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #878787;
    }
}
/* tips end */

/* Activities start */
.activities-line {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.activities-item {
    &__img {
        margin-bottom: 16px;
    }
    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #161414;
    }
}
/* Activities end */

/* About us start */
.section_about {
    margin-bottom: 120px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    &__content {
        width: 556px;
        padding-top: 86px;
        padding-bottom: 86px;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #5B5B5B;
        margin-bottom: 32px;
        margin-top: 32px;
    }
}
/* About us end */
/* main_contenet end */

/* footer start */
.footer {
    padding: 120px 0;
    &__menu {
        display: flex;
        gap: 64px;
        max-width: 505px;
        width: 100%;
    }
    &__column {
        width: calc(100% / 3);
    }
    &__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__item {
        margin-bottom: 12px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__link {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #5B5B5B;
        &:hover {
            color: #272525;
        }
    }
    &__form-wrap {
        max-width: 388px;
        width: 100%;
    }
}

.label-block {
    max-width: 364px;
    width: 100%;
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #5B5B5B;
        padding-bottom: 32px;
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    &__img-link {
        display: block;
        text-decoration: none;
    }
    &__img {
        width: 32px;
    }
}
/* footer end */



@media screen and (max-width:1024px) {
    .nav__list {
        gap: 0 35px;
    }
    .destination-line {
        gap: 0 70px;
        justify-content: center;
    }
    .hotels-line {
        justify-content: center;
    }
    .tips-container {
        justify-content: center;
    }
    .activities-line {
        justify-content: center;
    }
    .footer {
        &__menu {
            flex-wrap: nowrap;
            gap: 0 27px;
        }
        &__title {
            margin-bottom: 55px;
        }
    }
}
    
@media screen and (max-width:768px) {
    .nav {
        display: none;
        &_mobile {
            display: block;
        }
    }

    .wrap_footer {
        display: block;
    }

    .logo_header {
        margin: 0 auto;
    }

    .btn-burger {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        border: 2px solid #fff;
        background: transparent;
        position: relative;
    }

    .btn-burger::after, .btn-burger::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        left: 8px;
        right: 8px;
    }

    .btn-burger::before {
        height: auto;
        width: auto;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        top: 12px;
        bottom: 12px;
    }

    .btn-burger::after {
        height: 2px;
        height: 2px;
        background-color: #fff;
        bottom: 0;
        margin: auto 0;
    }

    .user {
        display: flex;
        position: absolute;
        right: 20px;
        left: auto;
        top: 39px;
        &__text {
            display: none;
        }
    }

    .footer {
        padding: 0 0 55px;
        &__menu {
            margin-top: 32px;
            margin-bottom: 32px;
        }
        &__title {
            margin-bottom: 16px;
        }
    }

    .title-content {
        gap: 20px;
    }
}

@media screen and (max-width:480px) {
    .title {
        &_medium {
            font-size: 24px;
            line-height: 1.2;
        }
        &_big {
            font-size: 32px;
            line-height: 1.2;
        }
    }

    .section {
        padding-top: 80px;
        &_screen {
            padding-top: 200px;
        }
        &_about {
            padding-top: 40px;
            margin-bottom: 80px;
        }
    }

    .about__content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .screen-content {
        margin-bottom: 100px;
    }

    .screen-btn__icon {
        display: none;
    }

    .page-form{
        &_screen {
            max-width: 440px;
            flex-direction: column;
        }
        &__input {
            border-bottom: 1px solid #ccc;
            height: 40px;
        }
        &__select {
            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 40px;
        }
        &__item {
            padding-right: 56px;
        }
        &_footer {
            flex-direction: column;
        }
        
    }
    
    .btn {
        width: 100%;
        cursor: pointer;
    }

    .tips-item {
        grid-template-columns: repeat(auto-fill, 100%);
        max-width: 100%;
        min-width: auto;
        &__title {
            font-size: 18px;
            line-height: 1.2;
        }
        &__text {
            margin-bottom: 50px;
        }
    }

    .destination-line {
            gap: 20px;
        }

    .destination-item {
        width: calc(50% - 10px);
    }

}