*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrap {
  max-width: 1421px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.wrap_header {
  padding-top: 39px;
  display: flex;
  justify-content: space-between;
  background: #000;
}
.wrap_footer {
  display: flex;
  gap: 64px;
}

.logo {
  width: 88px;
  height: 36px;
}
.logo_header {
  margin: auto 0;
}
.logo_invert {
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-style: normal;
}
.title_big {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
.title_medium {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #161414;
}
.title_small {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #161414;
}
.title_destination {
  margin-bottom: 64px;
}

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.icon_globe {
  width: 24px;
  height: 24px;
  background: url("../img/Group.png") no-repeat center left;
}
.icon_arrow {
  width: 20px;
  height: 20px;
  background: url("../img/arrow.png") no-repeat center right;
}
.icon_calendar {
  background: url(../img/tips-calendar.png) no-repeat center;
}
.icon_user {
  background: url(../img/tips-user.png) no-repeat center;
}
.icon_number {
  background: url(../img/tips-coment.png) no-repeat center;
}

.btn {
  border-radius: 12px;
  width: 72px;
  height: 72px;
  cursor: pointer;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #a699e7;
}
.btn_screen {
  background: #7B61FF url(../img/Vector.svg) no-repeat center;
}
.btn_footer {
  background: #7B61FF url(../img/Vectorarrow_white.png) no-repeat center;
}

/* header_block start */
.header {
  position: absolute;
  width: 100%;
}

.nav {
  margin: auto 0;
}
.nav__list {
  list-style-type: none;
  margin: auto 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0 54px;
}
.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.nav__link:hover {
  opacity: 0.5;
}
.nav_mobile {
  display: none;
}

.user {
  display: flex;
}
.user__text {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 8px;
  font-style: normal;
  color: #FFFFFF;
  text-transform: capitalize;
}
.user__word {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
  text-align: right;
}
.user__name {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}
.user__photo {
  position: relative;
}
.user__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FF0000;
  position: absolute;
  top: 0;
  right: 0;
}

/* header_block end */
/* main_content start */
/*screen start */
.section {
  padding-top: 120px;
}
.section_screen {
  background: url("../img/header-bg.jpg") no-repeat center/cover;
  padding-bottom: 100px;
  padding-top: 262px;
}

.screen-content {
  text-align: center;
  margin-bottom: 184px;
}

.screen-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px auto 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #7B61FF;
  padding: 24px;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.screen-btn:hover {
  background-color: #a699e7;
}

.page-form {
  display: flex;
  flex-wrap: wrap;
}
.page-form__item {
  padding: 16px 0px 16px 56px;
}
.page-form__item_location {
  background: url(../img/iconlocation.png) no-repeat 16px center;
}
.page-form__item_activity {
  background: url(../img/iconactivity.png) no-repeat 16px center;
}
.page-form__item_when {
  background: url(../img/iconwhen.png) no-repeat 16px center;
}
.page-form__item_guest {
  background: url(../img/iconguests.png) no-repeat 16px center;
}
.page-form__item_email {
  background: url(../img/mail-linemail.png) no-repeat 16px center;
  width: calc(100% - 72px);
}
.page-form__label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #5B5B5B;
  display: block;
}
.page-form__input {
  border: none;
  padding: 0;
  width: 100%;
}
.page-form__input:placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}
.page-form__select {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.page-form_screen {
  background-color: #FFFFFF;
  padding: 8px;
  border-radius: 12px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.page-form_footer {
  max-width: 388px;
  width: 100%;
}

/* screen end */
/* Destination start */
.destination-line {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.destination-item__img {
  margin-bottom: 8px;
}
.destination-item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}
.destination-item__state {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #979797;
}

/* destination end */
/* hotels start */
.title-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.btn-more {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5243C2;
  padding: 10px;
  background-color: #F6F4FF;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-more:hover {
  background-color: #79759b;
}

.hotels-line {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.hotels-item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
  margin-top: 10px;
  margin-bottom: 12px;
}
.hotels-item__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hotels-item__location {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #979797;
  background: url("../img/map-pin.png") no-repeat center left;
  padding-left: 20px;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}
.rating__item {
  width: 16px;
  height: 16px;
  background: url("../img/empty.png") no-repeat center;
}
.rating.is-active {
  background: url("../img/orange.png") no-repeat center;
}

/* hotels end */
/* tips start */
.tips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.tips-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 100%;
  max-width: calc(50% - 16px);
  min-width: 672px;
}

/* hotels end */
/* tips start */
.tips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.tips-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  width: 100%;
  max-width: calc(50% - 16px);
  min-width: 672px;
}
.tips-item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #161414;
  margin-top: 0;
  margin-bottom: 16px;
}
.tips-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5B5B5B;
  margin-bottom: 108px;
}

.tips-info {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tips-info__item {
  display: flex;
  gap: 4px;
  align-items: center;
}
.tips-info__name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #878787;
}

/* tips end */
/* Activities start */
.activities-line {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.activities-item__img {
  margin-bottom: 16px;
}
.activities-item__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}

/* Activities end */
/* About us start */
.section_about {
  margin-bottom: 120px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.about__content {
  width: 556px;
  padding-top: 86px;
  padding-bottom: 86px;
}
.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5B5B5B;
  margin-bottom: 32px;
  margin-top: 32px;
}

/* About us end */
/* main_contenet end */
/* footer start */
.footer {
  padding: 120px 0;
}
.footer__menu {
  display: flex;
  gap: 64px;
  max-width: 505px;
  width: 100%;
}
.footer__column {
  width: 33.3333333333%;
}
.footer__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.footer__title {
  margin-bottom: 20px;
}
.footer__item {
  margin-bottom: 12px;
}
.footer__item:last-of-type {
  margin-bottom: 0;
}
.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5B5B5B;
}
.footer__link:hover {
  color: #272525;
}
.footer__form-wrap {
  max-width: 388px;
  width: 100%;
}

.label-block {
  max-width: 364px;
  width: 100%;
}
.label-block__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #5B5B5B;
  padding-bottom: 32px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.social__img-link {
  display: block;
  text-decoration: none;
}
.social__img {
  width: 32px;
}

/* footer end */
.wrap_nav-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav__list {
    gap: 0 35px;
  }
  .destination-line {
    gap: 0 70px;
    justify-content: center;
  }
  .hotels-line {
    justify-content: center;
  }
  .tips-container {
    justify-content: center;
  }
  .activities-line {
    justify-content: center;
  }
  .footer__menu {
    flex-wrap: nowrap;
    gap: 0 27px;
  }
  .footer__title {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 950px) {
  .nav__list {
    gap: 0 15px;
  }
  .wrap_footer {
    display: block;
  }
  .footer {
    padding: 0 0 55px;
  }
  .footer__menu {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .footer__title {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 768px) {
  .logo_header {
    margin: 0 auto;
  }
  .btn-burger {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
  }
  .btn-burger::after, .btn-burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    left: 0px;
    right: 0px;
    width: 29px;
    margin: 0 auto;
    color: #fff;
  }
  .btn-burger::before {
    height: auto;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    top: 12px;
    bottom: 12px;
  }
  .btn-burger::after {
    height: 2px;
    height: 2px;
    background-color: currentColor;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  .btn-burger.is-active::before {
    transform: rotate(45deg) translate(7px, 6px);
    height: 2px;
    border: none;
    background: currentColor;
    transition: transform 0.25s ease;
  }
  .btn-burger.is-active::after {
    transform: rotate(-45deg);
    transition: transform 0.25s ease;
  }
  .user {
    display: flex;
    position: absolute;
    right: 20px;
    left: auto;
    top: 39px;
  }
  .user__text {
    display: none;
  }
  .title-content {
    gap: 20px;
  }
  .nav {
    display: none;
  }
  .nav__burger {
    position: absolute;
    top: 39px;
    left: 20px;
  }
  .nav__burger.is-active {
    left: calc(100% - 20px - 48px);
  }
  .wrap_nav-mobile {
    display: block;
  }
  .wrap.wrap_nav-mobile {
    padding-left: 0;
    padding-right: 0;
  }
  .wrap_header.is-active {
    display: none;
  }
  .nav_mobile.is-active {
    display: block;
    padding-top: 39px;
    padding-left: 20px;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 100;
    overflow: auto;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__link {
    font-size: 22px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 745px) {
  .page-form_screen {
    max-width: 440px;
    flex-direction: column;
  }
  .page-form__input {
    border-bottom: 1px solid #ccc;
    height: 40px;
  }
  .page-form__select {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 40px;
  }
  .page-form__item {
    padding-right: 56px;
  }
  .page-form_footer {
    flex-direction: column;
  }
  .btn {
    width: 100%;
  }
  .page-form__item_email {
    width: 100%;
  }
}
@media screen and (max-width: 673px) {
  .tips-item {
    grid-template-columns: repeat(auto-fill, 100%);
    max-width: 100%;
    min-width: auto;
  }
  .tips-item__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .tips-item__text {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .title_medium {
    font-size: 24px;
    line-height: 1.2;
  }
  .title_big {
    font-size: 32px;
    line-height: 1.2;
  }
  .section {
    padding-top: 80px;
  }
  .section_screen {
    padding-top: 200px;
  }
  .section_about {
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .about__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .screen-content {
    margin-bottom: 100px;
  }
  .screen-btn__icon {
    display: none;
  }
  .destination-line {
    gap: 20px;
  }
  .destination-item {
    width: calc(50% - 10px);
  }
}/*# sourceMappingURL=styles.css.map */